{% load humanize %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'posts:main' %}">메인페이지로 돌아가기</a>
    
    <div>
        {% if user.is_authenticated %}
            <p>nickname : {{ user.username }}</p>
            <a href="{% url 'accounts:mypage' %}">마이페이지</a> 
            <a href="{% url 'accounts:logout' %}">로그아웃</a>
        {% endif %}
    </div>

    <hr>

    <h2>{{ category.name }}</h2>

    <form method="POST">
        {% csrf_token %}
        <input type="text" name="title" placeholder="제목 입력" required><br>
        <textarea name="content" placeholder="본문 입력" required></textarea><br>
        
        <p>이미지 <input type="file"></p>
        <p>동영상 <input type="file"></p>

        <input type="checkbox" name="is_anonymous" id="anon">
        <label for="anon">익명</label>
        <button type="submit">작성 완료</button>
    </form>

    <hr>

    {% for post in posts %}
    <div>
        <a href="{% url 'posts:detail' post.id %}">
            <h4>{{ post.title }}</h4>
        </a>
        
        <small>{{ post.created_at|naturaltime }}</small>
        <p><small>댓글 0 공감 0</small></p>
        <hr>
    </div>
{% endfor %}
</body>
</html>