<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% load humanize %}
    <a href="{% url 'posts:main' %}">메인페이지로 돌아가기</a><br>
    <p>nickname : {{ request.user.nickname }}</p>
    <a href="{% url 'posts:main' %}">로그아웃</a><hr>

    <h2>{{ post.title }}</h2>
    <p>{{ post.content }}</p>
    <p>{{ post.created_at|naturaltime }}</p>
    {% if post.is_anonymous %}
        익명
    {% else %}
        {{ post.author.username }}
    {% endif %}

    <hr />
    <br />
    {% if request.user == post.author %}
    <a href="{% url 'posts:update' post.id %}">수정하기</a><br>
    <a href="{% url 'posts:delete' post.id %}">삭제하기</a><br>
    {% endif %}

    공감 {{ post.like.count }} | 스크랩 {{ post.scrap.count }}<br>

    {% if request.user in post.like.all %}
        <a href="{% url 'posts:like' post.id %}">공감 취소</a>
    {% else %}
        <a href="{% url 'posts:like' post.id %}">공감</a>
    {% endif %}

    {% if request.user in post.scrap.all %}
        <a href="{% url 'posts:scrap' post.id %}">스크랩 취소</a>
    {% else %}
        <a href="{% url 'posts:scrap' post.id %}">스크랩</a>
    {% endif %}

    <h2>댓글</h2>
    <p>댓글 수: {{ post.comments.count }}</p>
    {% for comment in post.comments.all %}
        {% if comment.is_anonymous %} 익명 
        {% else %} 
            {{ comment.author.username }} 
        {% endif %}
        </b> 
        : {{ comment.content }} {{ comment.created_at }}

        {% if request.user == comment.author %}
            <a href="{% url 'posts:comment_delete' comment.id %}">삭제하기</a><br>
        {% endif %}
    {% empty %}
        댓글이 없습니다.
    {% endfor %}

    {% if request.user.is_authenticated %}
    <form method="POST">
        {% csrf_token %}
        댓글 <input type="text" name="content"></input>
        <button type="submit">작성</button><br>
        <label>
            <input type="checkbox" name="is_anonymous">
            익명
        </label>
    </form>
    {% endif %}
    </p>
</body>
</html>