<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% load humanize %}
    <a href="{% url 'posts:category' slug='secret' %}">비밀게시판</a>
    <a href="{% url 'posts:category' slug='freshman' %}">새내기게시판</a>
    <a href="{% url 'posts:category' slug='free' %}">자유게시판</a>
    <br>

    {% if request.user.is_authenticated %}
        <p>nickname : {{ request.user.username }}</p>
        <a href="{% url 'accounts:mypage' %}">마이페이지</a>
        <a href="{% url 'accounts:logout' %}">로그아웃</a>
        <hr>
        
    {% else %}
        <a href="{% url 'accounts:login' %}">로그인</a>
        <a href="{% url 'accounts:signup' %}">회원가입</a>
    {% endif %}

    <h3><a href="{% url 'posts:category' 'secret' %}">비밀게시판</a></h3>
    {% for post in secret_posts %}
        <a href="{% url 'posts:detail' post.id %}">{{ post.title }}</p></a>
    {% empty %}
        등록된 글이 없습니다. 
    {% endfor %}

    <h3><a href="{% url 'posts:category' 'freshman' %}">새내기게시판</a></h3>
    {% for post in freshman_posts %}
        <a href="{% url 'posts:detail' post.id %}">{{ post.title }}</p></a>
    {% empty %}
        등록된 글이 없습니다. 
    {% endfor %}

    <h3><a href="{% url 'posts:category' 'free' %}">자유게시판</a></h3>
    {% for post in free_posts %}
        <a href="{% url 'posts:detail' post.id %}">{{ post.title }}</p></a>
    {% empty %}
        등록된 글이 없습니다. 
    {% endfor %}
</body>
</html>