<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>에브리타임</title>
</head>
<body>
    <div>
        {% for category in categories %}
            <a href="{% url 'posts:category' category.slug %}">{{ category.name }}</a>
        {% endfor %}
    </div>

    <div>
        {% if user.is_authenticated %}
            <p>nickname : {{ user.username }}</p>
            <a href="{% url 'accounts:mypage' %}">마이페이지</a> 
            <a href="{% url 'accounts:logout' %}">로그아웃</a>
        {% else %}
            <a href="{% url 'accounts:login' %}">로그인</a>
        {% endif %}
    </div>

    <hr>

    <div>
        {% for category in categories %}
            <div>
                <a href="{% url 'posts:category' category.slug %}">
                    <h3>{{ category.name }}</h3>
                </a>
                    {% for post in category.posts.all|dictsortreversed:"created_at"|slice:":4" %}
                        <li>
                            <a href="{% url 'posts:detail' post.id %}">
                                {{ post.title }}
                            </a>
                        </li>
                    {% empty %}
                        <li>작성된 글이 없습니다.</li>
                    {% endfor %}
            
                <br>
            </div>
        {% endfor %}
    </div>
</body>
</html>